body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  --primary-color: #2C9CDB;
  --light-grey: #F2F2F2;
  --dark-grey: #E0E0E0;
}

ul {
  list-style: none;
  padding: 0;
}

.search-input {
  background: var(--light-grey);
  border: solid 1px var(--dark-grey);
  border-radius: 2px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 20px;
}

.search-button {
  color: white;
  background: var(--primary-color);
  border: none;
  border-radius: 2px;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.search-button[disabled] {
  background: var(--light-grey);
  cursor: auto;
}

.dropdown-button {
  background: var(--light-grey);
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown-button:hover {
  background: var(--dark-grey);
}

.dropdown-button svg {
  min-width: 20px;
  margin-left: auto;
}

.dropdown-button-username {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}
